body {
    background-color: #f0f0f0;
    color: #1b1b1b;
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #000000;
  }
  .navbar-brand img {
    width: 100px;
  }
  .nav-link {
    color: white;
  }
  .nav-link:hover{
    color: gray ; 
  }
.nav-link:focus {
  color: #8a8a8a !important; /* Un tono gris más oscuro */
  background-color: transparent; /* Evita que tenga fondo */
}
  .navbar-toggler-icon {
    filter: invert(1); /* Invierte el color (para un fondo oscuro, usa 1) */
  }
  .carousel-inner img {
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    height: 200px; /* Altura fija del carrusel */
  }

.container img{
  display: flex;
  height: 60px;
  width: 60px;
}